# Análise de Dados do FoodTruck @AltosSabores

## Objetivo estudar o que pode ser melhorado na operação do foodtruck

Eu David sou proprietario do foodtruck Altos Sabores e em minha historia academica tambem estudei Analise e Desenvolvimento de Software. Tendo trabalhado alguns anos como desenvolvedor entre outras atividades na area de tecnologia. E o objetivo desse estudo e conhecer sobre a area de analise de dados e tambem me manter atualizado sobre algo a qual dediquei estudo e por fim melhorar atraves da tecnologia esse pequeno negocio que toco nos dias de hoje.

### Desafio:

Entender o cenario de vendas do fooodtruck e poder saber os pontos forte e fracos da operação alem de criar um plano de ação para o mesmo 
   
    - Empresa Vende Hamburgueres e Carnes
    - Tem uma operação.
    - Está querendo aumentar as vendas
    - O que fazer?
    - Quais canais de comunicação e vendas utiliza?
    - Informações Disponíveis: Base de Vendas

### Parte 1: Produtos Mais Vendidos
Iniciamos o projeto importanto o arquivo excel com a lista de produtos mais vendidos desde que abrimos o foodtruck. 
Nessa parte queremos saber de fato que mais vende no nosso foodtruck.

In [34]:
import pandas as pd

tabelaProMaisVend = pd.read_excel("Produtos_mais_vendidos.xlsx")
display(tabelaProMaisVend.sort_values("Quantidade Vendida", ascending=False).head(10))

,Ordem,Produto,Categoria,Custo Médio do Período,Quantidade Vendida,Custo Total,Vendas Total,Lucro Total,Tempo Médio de Produção do Prato (Em Minutos),Estoque Atual,Custo Atual,Custo do Estoque (Estoque * Custo Atual),Histórico,Estoque Controlado,Tempo Médio de Entrega do Prato na Mesa (Em Minutos),COD PRODUTO
0,1,CHEESE BACON,Hamburgers,11.0288,6560,71362.85,106693.50,35330.65,509.0,0,16.34,0.00,NaN,N,509.0,67
1,2,HEINEKEN,Cerveja,4.2972,4800,20375.40,34952.85,14577.45,155.0,0,5.00,0.00,NaN,N,155.0,76
2,3,CHEESE BURGER,Hamburgers,9.4301,4185,39154.26,55781.00,16626.74,281.0,0,13.40,0.00,NaN,N,281.0,65
3,4,BUDWEISER,Cerveja,3.2650,2876,9380.25,17928.50,8548.25,NaN,0,3.59,0.00,NaN,N,NaN,75
4,5,DUPLO,Hamburgers,14.4586,1936,27755.04,38630.50,10875.46,1493.0,0,21.50,0.00,NaN,N,1493.0,68
5,6,ESPECIAL DA SEMANA,Hamburgers,7.6720,1743,14116.01,29494.10,15378.09,NaN,0,0.00,0.00,NaN,N,NaN,91
6,7,COCA COLA 600 ML,Refrigerantes,4.5142,1736,7828.29,12278.01,4449.72,882.0,-394,7.14,-2813.16,NaN,S,883.0,82
7,8,BATATA GRANDE,Entradas,5.5596,1644,9127.35,15894.08,6766.73,58.0,0,6.19,0.00,NaN,N,58.0,43
8,9,BOI,Carnes,9.3110,1231,11294.62,19334.00,8039.38,NaN,-20,14.40,-288.00,NaN,S,NaN,61
9,10,COCA COLA LATA,Refrigerantes,2.7173,996,2703.63,4511.00,1807.37,NaN,-272,4.09,-1112.48,NaN,S,NaN,77

### Observação:
O que podemos notar e que o "Cheese Bacon" e de longe o item mais vendido do cardapio e que itens como "Especial da Semana" so aparecem na sexta posição. E que temos uma grande venda de cervejas long neck.

#### Quantos itens foram vendidos até hoje ?

A soma de todos os itens vendidos ate o dia de hoje. Essa informação foi gerada somente a titulo de curiosidade. Pois a mesma planilha não tras a informação de data de venda o que possibilitaria uma comparação por ano de faturamento.

In [36]:
Quantos_itens_vendidos = tabelaProMaisVend[["Quantidade Vendida"]].sum()
print(Quantos_itens_vendidos)

Quantidade Vendida    34812
dtype: int64

### Parte 2: Historico de Pedidos
Nessa parte queremos entender quais os melhores dias da nossa operação em faturamento. E a partir dai criar as hipoteses e planos de ações para que possamos repetir mais dias bons como esses.
Importamos o arquivo excel a qual continha todos os historicos de pedidos feitos no foodtruck.

In [22]:
historicoPedidos = pd.read_excel("Historico_Pedidos.xlsx")
display(historicoPedidos.head())

,Cód. Pedido,Cliente,Tipo,Aberto Em,Aberto,Em,Itens,Finalizado Em,Forma Pagamento,Entrega,Desconto,Valor Final,Telefone,Abrir,Obs. (Delivery),Bairro,Endreço,Total Recebido
0,13830,Nao informado,Caixa,2022-03-19 23:35:45.087,2022-03-19,23:35:45,20.0,2022-03-19 23:36:01.139,Dinheiro,0.0,0.0,20.0,Nao informado,NaN,NaN,NaN,NaN,20.0
1,13829,Nao informado,Caixa,2022-03-19 23:21:46.265,2022-03-19,23:21:46,10.0,2022-03-19 23:22:12.025,Cartão de Débito,0.0,0.0,10.0,Nao informado,NaN,NaN,NaN,NaN,10.0
2,13828,Nao informado,Mesa/Comanda,2022-03-19 23:19:20.751,2022-03-19,23:19:21,44.0,2022-03-20 00:07:11.854,Cartão de Débito,0.0,0.0,44.0,Nao informado,NaN,NaN,NaN,NaN,44.0
3,13827,Nao informado,Mesa/Comanda,2022-03-19 23:16:08.699,2022-03-19,23:16:09,55.0,2022-03-19 23:34:13.133,Dinheiro,0.0,0.0,55.0,Nao informado,NaN,NaN,NaN,NaN,55.0
4,13826,Christopher Alves Rodrigues,Mesa/Comanda,2022-03-19 22:49:39.866,2022-03-19,22:49:40,28.0,2022-03-19 23:09:18.730,Dinheiro,0.0,0.0,28.0,(27) 99739-2713,NaN,NaN,NaN,NaN,28.0

### Observação:
Apos listar todos os pedidos da operação. Vimos a necessidade de criar um filtro a qual possibilitasse ver quais eram os 10 melhores dias trabados no foodtruck.

Criamos inicialmente um filtro  a qual mostrava a soma de todos os pedidos do dia e o seu valor final. Porem o não nos mostrava os melhores dias. Os dias com maior faturamento.

In [21]:
# faturamento por dia
faturamento_por_dia = historicoPedidos[["Aberto", "Total Recebido"]].groupby(["Aberto"]).sum()
display(faturamento_por_dia.head())

            Total Recebido
Aberto
2019-10-18            96.0
2019-10-22           561.0
2019-10-23           376.0
2019-10-24           625.0
2019-10-25           615.0

### Filtro dos 10 melhores dia:
Abaixo ja o display a qual mostra o filtro que soma o faturamento dos dias trabalhados, agrupa eles e mostra em ordem crescente os 10 melhores dias trabalhados ate hoje no foodtruck.

In [24]:
# faturamento dos 10 melhores dias
faturamento_por_dia = historicoPedidos[["Aberto", "Total Recebido"]].groupby(["Aberto"]).sum()
display(faturamento_por_dia.sort_values("Total Recebido", ascending=False).head(10))

            Total Recebido
Aberto
2020-12-27         1898.50
2021-01-24         1748.50
2021-05-28         1607.40
2020-12-13         1554.00
2021-05-01         1546.00
2020-12-06         1534.00
2020-11-15         1518.00
2020-08-15         1498.00
2020-02-20         1470.00
2022-01-01         1465.21

## Analise dias Trabalhados:
A analise desses dias foi feita em cima de informações colidas dentro do instagram/whatsapp. Stores, mensagens e interações em geral com os clientes. 

### 27/12/2020:
Era a ultima semana do ano antes de um periodo de ferias de 15 dias. 
Nessa semana tinha um Especial da Semana com os seguintes ingredientes: Pão, salada, hamburger, cebola caramelizada, creme de cheddar e linguiça toscana. 
### 24/01/2021:
Esse era um periodo a qual a região sempre recebia bastante turistas por esta num momento bem quente do verão e tambem ser ferias escolares.
Nessa semana tinha um Especial da Semana com os seguintes ingredientes: Pão, salada, hamburger, bacon, queijo, queijo minas empanado e molho billyjack (Releitura do Rei Brie do Jonhs Burger). 
### 28/05/2021:
Nesse periodo participamos de uma ação da "Semana do Hamburger" organizada pela Burger Fest. E devido a essa ação fizemos algumas promoções diferentes. Como hamburguer a R$10,00 e ações com influences digitais do @viverdecomida e @rockthistown.
A qual geraram bastante compartilhamento e interações no instagram como um todo.
Nessa semana tinha um Especial da Semana Burger fest com os seguintes ingredientes: Pão, salada, 2 hamburgers, 2 queijos, calabresas chapeadas com cebola e molho.

### 13/12/2020:
Nesse periodo se deu o inicio de ferias escolares. Porem foi um dia a qual tambem recebi a visita de varios amigos do CINDES que vieram de outras cidades visinhas conhecer o foodtruck.
Nessa semana tinha um Especial da Semana com os seguintes ingredientes: Pão, salada, hamburger, queijo coalho chapeado, molho aioli, carne seca, melado de cana.

### 01/05/2021:
Nesse periodo tivemos a primeira flexibilização da pandemia a qual as pessoas podiam ir aos locais buscar e tinhamos algumas promoções de pagamento em dinheiro de Cheese burger a R$10,00. Nesse periodo não tinhamos Especial da Semana. E o dia era um feriado nacional - Dia do Trabalhador.

### 06/12/2020:
Um domingo a qual ja tinhamos a messas disponiveis para clientes virem comer. O fato de ser um inicio de mes tambem contribuiu para uma alta venda visto que as pessoas estão com dinheiro. 
Foi a primeira vez que fizemos um Especial diferente de hamburger ou carnes grelhadas que foi um sanduiche de almondegas.
### 15/11/2020: 
Foi uma semana a qual começamos a fazer delivery proprio e ja atendiamos mesas e é uma epoca onde as pessoas costumam a receber a primeira parcela do decimo terceiro. Fizemos um Especial da Semana com: Pão, salada, hamburger, queijo, cupim desfiado, sour cream e doritos.
### 15/08/2020: 
Foi o dia de inauguração do truck novo. Não tinhamos mesas para atender devido ao decreto e muitas das pessoas comeram sentadas na calçada. Tambem foi um dia que tivemos um novo cardapio com muitas novidades o que gerou muita curiosidade nos clientes. Não tinhamos Especial da semana nesse periodo de inauguraçao. Tambem tivemos muito compartilhamento em redes sociais.
### 20/02/2020:
Foi um periodo de carnaval com muitas pessoas na rua e pre pandemia. Não tinhamos especial da semana e tambem não fizemos muita divulgação o volume de pedidos provavelmente se deu pelo whatsapp e pelo feriado.
### 01/01/2022:
Primeiro dia do ano Feriado de reveillon. Muitas lanchonetes e restaurantes fechados na região acabamos absorvendo muito esse movimento. Estavamos no terreno e todas as mesas estavam lotadas quase a noite toda. Alto volume de pedidos delivery.

## Conclusão:
O alto compartilhamento em midias sociais, participação de campanhas, compartilhamentos no instagram, visita de amigos e Especiais da Semana contribuiram e muito para que esses dias se sobressaíssem aos demais.